#logo {
	margin-left : 4%;
}


#primary-menu {
	margin-right : 4%;
	font-family : Roboto;
	font-size:1em;
}


#primary-menu ul li a {
	font-family : Roboto;
	font-size:1em;
	font-weight:normal;	
}

.makCard {
	margin-top:-50px;
}

.cardTitle {
	font-family : Roboto Slab;
	font-weight : bold;
	font-size:1.3em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-bottom:50px;
}


.cardText {
	font-family : Roboto, Light;
	font-size:3em;
	letter-spacing: 2.2px;
	font-weight:300;
	margin-bottom:50px;
}


.cardButton {
	font-family : Roboto;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	padding:12px;
	border-radius:5px;
}

.cardButton:hover {
	background-color:#ccc;
	opacity:0.75;
}



.makCardHalfHolder {
	min-height:650px;
	background-position-x : left;
	background-position-y : bottom;
	float:left;
}


.makCardHalf {
	min-height:650px;
	background: #00000040 0% 0% no-repeat padding-box;
}

.makCardHalf:hover {
	 background: #000000BF 0% 0% no-repeat padding-box;
}

.makCardHalfDark {
	min-height:650px;
	background: #000000BF 0% 0% no-repeat padding-box;
}

.cardHalfTitle {
	font-family : Roboto Slab;
	font-weight : bold;
	font-size:1.3em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	position:absolute;
	top:50px;
	left:50px;
}


.cardHalfText {
	font-family : Roboto, Light;
	font-size:1.5em;
	letter-spacing: 1.36px;
	font-weight:100;
	margin-bottom:50px;
	width:40%;
	position:absolute;
	top:100px;
	left:50px;
}


.cardHalfButton {
	font-family : Roboto;
	font-size:1em;
	text-transform:uppercase;
	padding:12px;
	position:absolute;
	bottom:75px;
	left:50px;
	border-radius:5px;
}

.cardHalfButton:hover {
	background-color:#ccc;
	opacity:0.75;
}





.aboutTitle {
	font-family : Roboto Slab;
	font-weight : bold;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-bottom:50px;
}

.aboutText {
	font-family : Roboto, Light;
	font-size:1.5em;
	letter-spacing: 1.36px;
	font-weight:300;
	margin-bottom:50px;
	width:95%;
}

.aboutButton {
	font-family : Roboto;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: 0.84px;

}



.aboutImage {
	width:130px;
	border-radius : 65px;
}


.aboutName {
	font-family : Roboto;
	font-size:0.85em;
	letter-spacing: 0.84px;
	width:150px;
	text-align:left;
	margin-top:15px;
	line-height:18px;
}

.boldName {
	font-weight:800;
	float:left;
}




.footerText {
	font-family : Roboto;
	color:#FFFFFF;
	font-size:0.8em;
	letter-spacing:0.7px;
	font-weight:100;
}



.icon-instagram, .icon-facebook, .icon-pinterest, .icon-linkedin { color:#FFFFFF; font-size:20px; }




.darkCover {
	 background: #00000040 0% 0% no-repeat padding-box;
}







/*--- Services Page ---*/
.stepGifLine {
	border-bottom:1px solid #000;
	background-color:#FFFFFF;
}


.stepGifLineLast {
	background-color:#FFFFFF;

}

.servicesStepTitle {
	font-family : Roboto;
	font-weight:100;
	font-size:2.0em;
	margin-left:50px;
	width:75%;
}

.servicesGifBlock {
	font-family : Roboto;
	font-weight:300;
	font-size:2em;
	height:250px;
	width:250px;
	border:1px solid #000;
	margin-bottom:40px;
	text-align:center;
	margin-left:35%;
}

.servicesGifText{
	font-family : Roboto;
	font-weight:100;
	font-size:1.6em;

}



.greyBreak {
	background-color:#E0E0E0;
}

.greyTitle {
	font-size:2em;
	font-weight:200;
	width:60%;
	margin-left:20%;
}

.greyText {
	font-size:1.75em;
	font-weight:200;
	width:60%;
	margin-left:20%;
}






.whiteBreak {
	background-color:#FFFFFF;
	border-bottom:1px solid #CCC;
}

.whiteBreakNoLine {
	background-color:#FFFFFF;
}

.leftTitle {
	font-size:2em;
	font-weight:200;
	width:80%;
	margin-left:10%;
}

.rightText {
	font-size:1.6em;
	font-weight:200;
	width:90%;
	margin-left:5%;
}








.relatedTitle {
	font-family : Roboto Slab;
	font-weight : bold;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-bottom:50px;
	margin-left:50px;
}

.relatedText {
	font-family : Roboto, Light;
	font-size:1.5em;
	letter-spacing: 1.36px;
	font-weight:300;
	margin-bottom:50px;
	width:95%;
	margin-left:50px;
}

.relatedButton {
	font-family : Roboto;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-left:50px;

}

.relatedBreak {
	height:300px;
}




.clientBlock {

}






.employeeImage {
	border-radius:63px;
}




.formLine {
	border-bottom:1px solid #ccc;
	margin:8px;
}

.contactInput {
	font-family : Roboto;
	font-size:1.15em;
	letter-spacing: 1.36px;
	font-weight:100;
}

.border-form-control {
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

#contactSubmit {
	margin-top:50px;
	margin-bottom:50px;
	background-color:#696969;
	border-radius:2px;
	color:#fff;
	border:0px;
}






.titleNumber {
	float:left;
	width:75px;
	font-size:0.8em;
}

.titleLabel {
	float:left;
	width:100px;
	font-size:0.8em;

}

.featureText {
	font-size:1.25em;
	font-weight:200;
	width:90%;
	margin-left:5%;
}






/* Project Description Section */
.sectionTitle {
	font-size : 1em;
	font-family : Roboto Slab;
	font-weight:800;
	text-transform: uppercase;
}


.sectionText {
	font-size : 1.5em;
	font-family : Roboto;
	font-weight:300;
}


.sectionLabel {
	font-size : 1.75em;
	font-family : Roboto;
	font-weight:300;

}

.sectionDesc {
	font-size : 1.5em;
	font-family : Roboto;
	font-weight:300;

}


.listTitle {
	font-size : 1em;
	font-family : Roboto;
	font-weight:600;
	margin-bottom:20px;
}


.listSection {
	font-size : 1em;
	font-family : Roboto;

}


.listItem {
	padding : 2px;	
	border-bottom : 1px solid #ccc;
	font-size:0.9em;
}


.descHeader {
	font-size : 1.6em;
	margin-bottom:50px;
	font-weight:100;
}

.descText {
	font-size:1.6em;
	font-weight:100;
}


.descText > ul {
	margin-left:30px;
}




/* Related breaks links */
.relatedButton > a {
	color : #ffffff;
	
}

.underLined:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    bottom: -10px;
    left: 0%;
    border-bottom: 2px solid #FFF;
}


.underLined:after:hover{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -10px;
    left: 0%;
    border-bottom: 2px solid #FFF;
}




/* Standard Underlined Items */
.underLined:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -10px;
    left: 0%;
    border-bottom: 2px solid #000;
}


