#logo {
	margin-left : 4%;
}


#primary-menu {
	margin-right : 4%;
}


.makCard {
	margin-top:-50px;
}

.cardTitle {
	font-family : Roboto;
	font-weight : bold;
	font-size:21px;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-bottom:50px;
}


.cardText {
	font-family : Roboto, Light;
	font-size:55px;
	letter-spacing: 2.2px;
	font-weight:200;
	margin-bottom:50px;
}


.cardButton {
	font-family : Roboto;
	font-size:21px;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	padding:12px;
}



.makCardHalf {
	min-height:500px;
}

.cardHalfTitle {
	font-family : Roboto;
	font-weight : bold;
	font-size:21px;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	margin-bottom:50px;
}


.cardHalfText {
	font-family : Roboto, Light;
	font-size:34px;
	letter-spacing: 1.36px;
	font-weight:200;
	margin-bottom:50px;
}


.cardHalfButton {
	font-family : Roboto;
	font-size:21px;
	text-transform:uppercase;
	letter-spacing: 0.84px;
	padding:12px;
}
